* {
  background-color: #282828;
}

span {
  color: #009ee3;
}
.App {
  text-align: center;
  font-size: 24px;
  color: #e0e0e0;
}

.colorPalette {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 0px 0px 50px;
  width: 400px;
}

.crimson {
  background-color: crimson;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.coral {
  background-color: coral;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.khaki {
  background-color: khaki;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.seagreen {
  background-color: seagreen;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.DodgerBlue {
  background-color: DodgerBlue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.DarkMagenta {
  background-color: DarkMagenta;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.Plum {
  background-color: Plum;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.black {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.white {
  background-color: white;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.brown {
  background-color: brown;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.LightCyan {
  background-color: LightCyan;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.Gainsboro {
  background-color: Gainsboro;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 100px 0px;
  background-color: #282828;
}

h6 {
  color: gray;
  margin: 10px;
}

input {
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#codepreview {
  background-color: black;
  padding: 50px 0;
  width: 362px;
  height: 100px;
  margin: 0px 0px 0px 50px;
}

#textOrBackground{
  display: flex;
  flex-direction: row;
  padding: 10px 50px 10px 50px;
  justify-content: space-around;
}

.radio{
  font-size: 16px;
}
ul{
  background-color: black;

}
li {
  list-style-type: none;
  text-align: left;
  background-color: black;

}
