* {
  background-color: #282828;
}

span {
  color: #009ee3;
}
.App {
  text-align: center;
  font-size: 24px;
  color: #e0e0e0;
}

.colorPalette {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 0px 0px 50px;
  width: 400px;
}

.crimson {
  background-color: crimson;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.coral {
  background-color: coral;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.khaki {
  background-color: khaki;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.seagreen {
  background-color: seagreen;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.DodgerBlue {
  background-color: DodgerBlue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.DarkMagenta {
  background-color: DarkMagenta;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.Plum {
  background-color: Plum;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.black {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.white {
  background-color: white;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
.brown {
  background-color: brown;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.LightCyan {
  background-color: LightCyan;
  border: none;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.Gainsboro {
  background-color: Gainsboro;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 100px 0px;
  background-color: #282828;
}

h6 {
  color: gray;
  margin: 10px;
}

input {
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#codepreview {
  background-color: black;
  padding: 50px 0;
  width: 362px;
  height: 100px;
  margin: 0px 0px 0px 50px;
}

/* checkbox CSS*/
.checkbox-container {
  display: inline-flex;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  margin-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-left: 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25em;
  width: 1.25em;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
